@{
    ViewData["Title"] = "Crew";
}

@model sailwithdivine.com.Models.Position.PositionViewModel;

<div class="img-header">
    <div class="img-header__image" style="background-image:url('Content/harbour.jpg')"></div>
    <div class="img-header__text-container">
        <h1>@Model.Title</h1>
        <p>@Model.Subtitle</p>
    </div>
</div>

<div class="content position__content">
    <div class="embed-responsive embed-responsive-16by9">
        <iframe src="https://www.marinetraffic.com/en/ais/embed/zoom:17/centery:54.9467/centerx:11.4460/maptype:0/shownames:true/mmsi:0/shipid:0/fleet:totteperera@gmail.com/fleet_id:/vtypes:/showmenu:false/remember:false"></iframe>
    </div>
</div>
