@model sailwithdivine.com.Models.Cookiebanner.CookiebannerViewModel;

<div class="cookiebanner js-cookiebanner">
    <div class="cookiebanner__container">
        <p class="cookiebanner__text">@Model.Text</p>
        <button class="button cookiebanner__button js-cookiebanner-button">OK</button>
    </div>
</div>