@{
    ViewData["Title"] = "Crew";
}

<div class="crew">
    <div class="text-center">
        <h1 class="crew__title">Crew</h1>
        <p>Meet the crew that are, or have been onboard Divine</p>
    </div>
</div>

<div class="content crew__content">
    <div class="card__container">
        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Janne" src="~/Content/Crew/janne.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Janne</span>
                    <svg class="icon icon-sweden"><use xlink:href="#icon-sweden"></use></svg>
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Janne" src="~/Content/Crew/janne.jpg" class="card__img" />
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Janne" src="~/Content/Crew/janne.jpg" class="card__img" />
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Janne" src="~/Content/Crew/janne.jpg" class="card__img" />
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Janne" src="~/Content/Crew/janne.jpg" class="card__img" />
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Janne" src="~/Content/Crew/janne.jpg" class="card__img" />
                </div>
            </div>
        </div>

    </div>
</div>