@{
    ViewData["Title"] = "SailWithDivine";
}


<section class="img-header">
    <div class="img-header__image" style="background-image:url('Content/bowangel.jpg')"></div>
    <div class="img-header__text-container">
        <h1>Sail with Divine</h1>
    </div>
    <div class="img-header__icon-container">
        @*<a asp-controller="Boat" asp-action="Index">
            <div class="img-header__icon-item">
                <svg class="icon icon-boat"><use xlink:href="#icon-boat"></use></svg>
                <span>Ship</span>
            </div>
        </a>*@
        <a href="https://www.instagram.com/sailwithdivine/" target="_blank">
            <div class="img-header__icon-item">
                <svg class="icon icon-instagram-sketched"><use xlink:href="#icon-instagram-sketched"></use></svg>
                <span>Instagram</span>
            </div>
        </a>
        <a asp-controller="Crew" asp-action="Index">
            <div class="img-header__icon-item">
                <svg class="icon icon-user"><use xlink:href="#icon-user"></use></svg>
                <span>Crew</span>
            </div>
        </a>
        <a asp-controller="ContactUs" asp-action="Index">
            <div class="img-header__icon-item">
                <svg class="icon icon-email"><use xlink:href="#icon-email"></use></svg>
                <span>Contact us</span>
            </div>
        </a>
    </div>
</section>

<section class="intro">
    <div class="content">
        <h2 class="intro__title">Position</h2>
        <div class="intro__container">
            <svg class="icon icon-pin"><use xlink:href="#icon-pin"></use></svg>
            <div class="intro__text-container">
                <p>
                    We are using an AIS transponder and reciver, which makes it possible to see our
                    latest registered position when connected to a base station. It also makes it easier when sailing becuase
                    we are able to see other boats with AIS and they see us.
                </p>
                <a asp-controller="Position" asp-action="Index" class="button">See position</a>
            </div>
        </div>
    </div>
</section>

<section class="absolute-header">
    <div class="absolute-header__image" style="background-image:url('Content/logodivine.png');"></div>
</section>