@{
    ViewData["Title"] = "SailWithDivine";
}

<section class="absolute-header">
    <div class="absolute-header__image" style="background-image:url('Content/logodivine.png');"></div>
</section>

<section class="intro">
    <h2 class="intro__title">Position</h2>
    <div class="intro__container">
        <svg class="icon icon-pin"><use xlink:href="#icon-pin"></use></svg>
        <p>Click here to see our last registrered AIS Position</p>
    </div>
</section>


@*<div class="text-center">
    <h1 class="display-4">Instagram</h1>
    <p>Kontakta oss eller följ vår resa på Instagram!</p>
</div>

<a href="https://www.instagram.com/sailwithdivine/" class="instagram__container">
    <div class="instagram">
        <img class="instagram__logo" src="~/Content/instagram-new.png" alt="instagram sail with divine"/>
        <div class="instagram__text">@@sailwithdivine</div>
    </div>
</a>*@
