@{
    ViewData["Title"] = "SailWithDivine";
}

<div class="text-center">
    <h1 class="display-4">Instagram</h1>
    <p>Kontakta oss eller följ vår resa på Instagram!</p>
</div>

<a href="https://www.instagram.com/sailwithdivine/" class="instagram__container">
    <div class="instagram">
        <img class="instagram__logo" src="~/Content/instagram-new.png" alt="instagram sail with divine"/>
        <div class="instagram__text">@@sailwithdivine</div>
    </div>
</a>
