<div class="position">
    <div class="text-center">
        <h1 class="position__title">Position</h1>
        <p>Zoom out on the map and look for a pink dot that says Divine</p>
    </div>
    
    <div class="content position__content">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe src="https://www.marinetraffic.com/en/ais/embed/zoom:17/centery:54.9467/centerx:11.4460/maptype:0/shownames:true/mmsi:0/shipid:0/fleet:totteperera@gmail.com/fleet_id:/vtypes:/showmenu:false/remember:false"></iframe>
        </div>
    </div>
</div>
