<div class="text-center">
    <h1 class="display-4">Position</h1>
    <p>See our last registered AIS-position.</p>
</div>

<div class="embed-responsive embed-responsive-16by9">
<iframe src="https://www.marinetraffic.com/en/ais/embed/zoom:17/centery:54.9467/centerx:11.4460/maptype:0/shownames:true/mmsi:0/shipid:0/fleet:totteperera@gmail.com/fleet_id:/vtypes:/showmenu:false/remember:false"></iframe>
</div>