@{
    ViewData["Title"] = "Projektet";
}
<h1>@ViewData["Title"]</h1>

<p>Efter 26 år kändes det som att det var dags att flytta vidare från kalla Sverige. 
Den typiska vardagen att jobba för att leva kändes skrämmande för oss. Vi stod inte ut med tanken om att leva större delen av livet i samma land. Så vi bestämde oss för att ta vara på att man är ung och fri, med möjligheter att upptäcka världen som aldrig förr.

Det kan dock vara svårt att flytta utan att få några garantier på att man kommer trivas vilket skapade idén om ett flytande boende. Att just segla iväg var en självklarhet för Oscar då han har jobbat som charterskeppare senaste åren och har länge drömt om detta. För Totte såg det lite annorlunda ut då han var van att upptäcka världen i en ryggsäck och backpacka. Det tog dock inte lång tid att sälja in idén om en segelbåt för Totte. 

Eftersom att vi helt och hållet byter livsstil och flyttar från trygghet med fast anställning o.s.v. måste vi hitta nya sätt att få in pengar på. Vi har några idéer på hur vi ska lösa det, bland annat ha med “crew” som vill komma ifrån de vardagliga rutinerna samt hålla i utbildningar för de som vill lära sig att segla. Kontakta oss gärna på våran instagram om ni är sugna på att segla så kan vi boka in ett videomöte.
</p>
