@model sailwithdivine.com.Models.Header.HeaderViewModel;

<nav class="navbar">
    <div class="navbar__container">
        <div class="navbar__logo">
            <a href="/">
                <img alt="logo" src="~/Content/logo-round.png" />
            </a>
        </div>
        <div class="navbar__flag-container js-flag-selector">
            <svg class="icon @Model.Current.CurrentCountryFlag"><use xlink:href="#@Model.Current.CurrentCountryFlag"></use></svg>
            <div class="navbar__flag-selector-container js-flag-selector-container">
                <span>@Model.AvailableCountry.CurrentCountryName</span>
                <svg class="icon @Model.AvailableCountry.CurrentCountryFlag"><use xlink:href="#@Model.AvailableCountry.CurrentCountryFlag"></use></svg>
            </div>
        </div>
    </div>
</nav>