@{
    ViewData["Title"] = "Crew";
}
@model sailwithdivine.com.Models.Crew.CrewViewModel;

<div class="img-header">
    <div class="img-header__image" style="background-image:url('Content/Crew/crew.jpg')"></div>
    <div class="img-header__text-container">
        <h1>@Model.Title</h1>
    </div>
</div>

<div class="content crew__content">
    <h2 class="crew__section-title">Current crew</h2>
    <div class="card__container">

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Oscar" src="~/Content/Crew/oscar.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Oscar</span>
                    <svg class="icon icon-sweden"><use xlink:href="#icon-sweden"></use></svg>
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Totte" src="~/Content/Crew/totte.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Totte</span>
                    <svg class="icon icon-sweden"><use xlink:href="#icon-sweden"></use></svg>
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Nicki" src="~/Content/Crew/nicki.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Nicki</span>
                    <svg class="icon icon-sweden"><use xlink:href="#icon-sweden"></use></svg>
                </div>
            </div>
        </div>
    </div>

    <h2 class="crew__section-title">Previous crew</h2>

    <div class="card__container">
        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Simon" src="~/Content/Crew/simon.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Simon</span>
                    <svg class="icon icon-sweden"><use xlink:href="#icon-sweden"></use></svg>
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Janne" src="~/Content/Crew/janne.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Janne</span>
                    <svg class="icon icon-sweden"><use xlink:href="#icon-sweden"></use></svg>
                </div>
            </div>
        </div>

    </div>
</div>