@{
    ViewData["Title"] = "Crew";
}
@model sailwithdivine.com.Models.Crew.CrewViewModel;

<div class="img-header">
    <div class="img-header__image" style="background-image:url('../Content/Crew/crew.jpg')"></div>
    <div class="img-header__text-container">
        <h1>@Model.Title</h1>
    </div>
</div>

<div class="content crew__content">
    <h2 class="crew__section-title">Current crew</h2>
    <div class="card__container">

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Oscar" src="~/Content/Crew/oscar.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Oscar</span>
                    <svg class="icon icon-sweden"><use xlink:href="#icon-sweden"></use></svg>
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Totte" src="~/Content/Crew/totte.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Totte</span>
                    <svg class="icon icon-sweden"><use xlink:href="#icon-sweden"></use></svg>
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Moa" src="~/Content/Crew/moa.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Moa</span>
                    <svg class="icon icon-sweden"><use xlink:href="#icon-sweden"></use></svg>
                </div>
            </div>
        </div>


    </div>

    <h2 class="crew__section-title">Previous crew</h2>

    <div class="card__container">
        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Frida" src="~/Content/Crew/frida.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Frida</span>
                    <svg class="icon icon-denmark"><use xlink:href="#icon-denmark"></use></svg>
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Nicki" src="~/Content/Crew/johanne.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Johanne</span>
                    <svg class="icon icon-denmark"><use xlink:href="#icon-denmark"></use></svg>
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Eline" src="~/Content/Crew/eline.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Eline</span>
                    <svg class="icon icon-denmark"><use xlink:href="#icon-denmark"></use></svg>
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Rigmor" src="~/Content/Crew/rigmor.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Rigmor</span>
                    <svg class="icon icon-denmark"><use xlink:href="#icon-denmark"></use></svg>
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Nicki" src="~/Content/Crew/nicki.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Nicki</span>
                    <svg class="icon icon-sweden"><use xlink:href="#icon-sweden"></use></svg>
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Robin" src="~/Content/Crew/robin.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Robin</span>
                    <svg class="icon icon-sweden"><use xlink:href="#icon-sweden"></use></svg>
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Christoffer" src="~/Content/Crew/christoffer.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Christoffer</span>
                    <svg class="icon icon-sweden"><use xlink:href="#icon-sweden"></use></svg>
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Marta" src="~/Content/Crew/marta.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Marta</span>
                    <svg class="icon icon-portugal"><use xlink:href="#icon-portugal"></use></svg>
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Emelie" src="~/Content/Crew/emelie.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Emelie</span>
                    <svg class="icon icon-sweden"><use xlink:href="#icon-sweden"></use></svg>
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Simon" src="~/Content/Crew/simon.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Simon</span>
                    <svg class="icon icon-sweden"><use xlink:href="#icon-sweden"></use></svg>
                </div>
            </div>
        </div>

        <div class="card__item">
            <div class="card__item-container">
                <div class="overlay-gradiant"></div>
                <div class="card__img-holder">
                    <img alt="Janne" src="~/Content/Crew/janne.jpg" class="card__img" />
                </div>
                <div class="card__item-info">
                    <span>Janne</span>
                    <svg class="icon icon-sweden"><use xlink:href="#icon-sweden"></use></svg>
                </div>
            </div>
        </div>

    </div>
</div>