@{
    ViewData["Title"] = "Contact";
}
<div class="absolute-header absolute-header--text">
    <h1 class="absolute-header__title">Contact us</h1>
</div>

<div class="content">
    <p>Do you want to sail, or maybe just have a chat with us? Go to our <a style="font-weight: bold" href="https://www.instagram.com/sailwithdivine/" target="_blank">Instagram page</a>
    and write us a message!</p>
</div>
