@{
    ViewData["Title"] = "Contact";
}

@model sailwithdivine.com.Models.ContactUs.ContactUsViewModel;

<div class="absolute-header absolute-header--text">
    <h1 class="absolute-header__title">@Model.Title</h1>
</div>

<div class="content">
    <p>@Html.Raw(Model.Text)</p>
</div>
