.boat__hero-container {
    display: flex;
    justify-content: center;
    height: 520px;
    margin-bottom: 20px;
}

.boat__hero-img {
    object-fit: cover;
}

.boat__item-img {
    margin: 10px 0;
}

.boat__item-solo-container {
    display: flex;
    justify-content: center;
}

.boat__item-container {
    display: flex;
    justify-content: space-evenly;
}