/* Please see documentation at https://docs.microsoft.com/aspnet/core/client-side/bundling-and-minification
for details on configuring this project to bundle and minify static web assets. */

a.navbar-brand {
  white-space: normal;
  text-align: center;
  word-break: break-all;
}

/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  font-size: 14px;
}
@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

.border-top {
  border-top: 1px solid #b0f4e6 !important;
}
.border-bottom {
  border-bottom: 1px solid #b0f4e6 !important;
}

.box-shadow {
  box-shadow: 0 .25rem .75rem rgba(103,234,202,.05);
}

button.accept-policy {
  font-size: 1rem;
  line-height: inherit;
}

/* Sticky footer styles
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  /* Margin bottom by footer height */
  margin-bottom: 60px;
  background-color: #fcf9ec;
  font-family: ingra, sans-serif;
  font-weight: 300;
  font-style: normal;
}
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  white-space: nowrap;
  line-height: 60px; /* Vertically center the text there */
}

h1,h2,h3,h4,h5,h6 {
  font-family: kiro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #12d3cf
}

p {
  font-family: ingra, sans-serif;
  font-weight: 300;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  margin-top: 0;
  margin-bottom: 0.5rem;
}

p {
  margin-top: 0;
  margin-bottom: 1rem;
}

html {
  line-height: 1.15;
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

article, aside, figcaption, figure, footer, header, hgroup, main, nav, section {
  display: block;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  text-align: left;
}

.main-color
{
  color:#12d3cf !important;
}

.main-color:hover
{
  color: #67eaca !important;
}

.nav-link {
  font-weight: bold;
}

.navbar-light .navbar-brand{
  font-family: kiro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #12d3cf
}

.navbar-light .navbar-brand:hover {
  color: #67eaca;
}

.instagram {
  display: flex;
  align-items: center;
  justify-content: center;
}

.instagram__logo {
  width: 90px;
  margin-right: 25px;
}

.instagram__text {
  font-size: 40px;
  font-family: kiro, sans-serif;
  font-weight: 700;
  font-style: normal;
  color: #12d3cf
}

.instagram__container:hover {
  text-decoration: none;
}


@media (max-width: 768px) {
  
  .instagram {
    margin-top: 40px;
    flex-direction: column;
  }

  .instagram__logo {
    width: 90px;
    margin: 0 0 10px 0;
  }

}