@import "content.scss";

.boat {
    &__interior {

        &-title {
            text-align: center;
        }

        &-text {
            margin-bottom: 50px;
        }
    }

    &__layout-title {
        text-align: center;
    }

    &__layout-img {
        width: 100%;
        max-width: 550px;
    }

    &__layout-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }

    &__equipment-title {
        text-align: center;
        color: $white-color;
    }

    &__equipment-container {
        margin-top: 60px;
        background-color: $primary-color;
        padding-top: 50px;
    }

    &__equipment-content {
        display: flex;
        flex-wrap: wrap;
    }

    &__equipment-item {
        margin-bottom: 60px;
        flex: 0 0 100%;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        min-height: 250px;
        justify-content: space-between;
        padding: 30px;
        font-weight: bold;
        color: $white-color;
        font-size: 1.5rem;
        text-align: center;

        @include md {
            flex: 0 0 50%;
            max-width: 50%;
        }

        @include lg {
            flex: 0 0 33.333333%;
            max-width: 33.333333%;
        }

        .icon {
            width: 120px;
            height: 120px;
            fill: $white-color;
        }
    }
}
