.boat {
    &__interior {

        &-title {
            text-align: center;
        }

        &-text {
            margin-bottom: 50px;
        }
    }

    &__layout-title {
        text-align: center;
    }

    &__layout-img {
        width: 100%;
        max-width: 550px;
    }

    &__layout-img-container {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
