@import "content.scss";


.icon-user, .icon-instagram-sketched, .icon-boat, .icon-email {
    fill: $white-color;
    width: 2.6rem;
    height: 2.6rem;

    @include lg {
        width: 4rem;
        height: 4rem;
    }
}