@import "content.scss";

.position {
    background-color: $primary-color;
    height: 40vh;
    padding-top: 100px;
    text-align: center;

    &__title {
        margin: 0;
    }

    &__content {
        background-color: $white-color;
        margin-top: 200px;
        margin-bottom: 100px;   
    }
}