@import "content.scss";

.position {

    &__title {
        margin: 0;
    }

    &__content {
        background-color: $white-color;
        margin-top: 50px;
        margin-bottom: 100px;   
    }
}